<template name="itemEdit">
    <form class="main">
        <div class="row">
            <div class="large-12 columns">
                <label for="name">Name</label>
                <input type="text" name="name" value="{{name}}" placeholder="Name your Item" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="description">Description</label>
                <textarea type="text" name="description" value="{{description}}"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="options">Options</label>
                <input type="text" name="options" value="{{options}}" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Choose Categories</label>
                {{#each allCategories}}
                    {{#if itemHasCategory ../categories _id}}
                        <input type="checkbox" id="itemsCategories_{{_id}}" name="categories[]" value="{{_id}}" checked="true">
                    {{else}}
                        <input type="checkbox" id="itemsCategories_{{_id}}" name="categories[]" value="{{_id}}">
                    {{/if}}
                    {{name}}
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Submit" class="button tiny round" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="large-12 columns">
                <a class="button tiny round alert" href="#">Delete Item</a>
            </div>
        </div>
    </form>
</template>
