/*
ItemsArtGenerator
Author: Brahim BOUKOUFALLAH
*/

html, body{
    height: 100%;
    width: 100%;
}

hr {
    margin: 20px 50px;
    background: #eee;
    color: #666666;
}

svg {
    height: 100%;
    width: 100%;
}

div.raw {
    display: inline;
    overflow: auto;
}

.off-canvas-wrap {
    height: 100%;
}

.off-canvas-list>li {
    text-align: center;
    margin-bottom: 10px;
}

.inner-wrap {
    height: 100%;
}

.move-item {
    overflow: auto;
    float: right;
}

#output {
    height: 100%;
}

#project-description {
    height: 80px;
    overflow: auto;
}

ul {
list-style-type:none;
}

a.success {
    color: #43ac6a;
    font-size: 32px;
}

a.secondary {
    color: #eee;
    font-size: 32px;
}

a.secondary:hover, a.secondary:focus {
    color: #b9b9b9;
}

a.success:hover, a.success:focus {
    color: #368a54;
}

li {
    color: #FFFFFF;
}

li.item {
    cursor: pointer;
}

li.item.selected {
    background: #5e5e5e;
    cursor: move;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
    background: none repeat scroll 0 0 #333;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: none repeat scroll 0 0 #5e5e5e;
}

.name {
    display: block;
    width: 100px;
}

/*************************************************/
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}




/***************************************************/

.actions, .actions>li {
    float: right;
    list-style-type:none;
    margin-right: 10px;
}

.actions {
    margin-right: 20px;
    margin-top: -25px;
}
.actions > li {
    height: 10px;
    margin-bottom: 15px;
}

button.tiny, .button.tiny {
    width: 15px;
    height: 5px;
    padding: 25px 25px 0px 0px;
}

.subway-station:hover {
    cursor: move;
}

.subway-station > circle {
    fill: #eee;
    stroke-width: 3;
}

.subway-station.dragged > circle {
    fill: rgba(180, 0, 0, 1);
}

.subway-station > text {
    font-size : 1.1em;
}

.subway-station:hover > circle {
    fill: rgba(80, 80, 180, 1);
}

.subway-station.dragged:hover > circle {
    fill: rgba(180, 0, 0, 1);
}

.subway-line {
    fill: none;
    stroke-width: 8;
    z-index: 1;
}

#subway-legend {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 200px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    border-top: thick double #ff0000;
}

#subway-legend > ul > li {
    width: 100px;
    margin: 10px;
}

#subway-legend > ul > li > span {
    display: block;
    padding: 0 10px 5px;
}

#subway-legend > ul > li > span > p {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    line-height: 12px;
}
