/*
ItemsArtGenerator
Author: Brahim BOUKOUFALLAH
*/

html, body{
    height: 100%;
    width: 100%;
}

hr {
    margin: 20px 50px;
    background: #eee;
    color: #666666;
}

header {
    border-bottom: 1px solid black;
}

#svg {
    height: 968px;
    width: 100%;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
}

div.raw {
    display: inline;
    overflow: auto;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.off-canvas-wrap {
    min-height: 500px;
}

.off-canvas-list>li {
    text-align: center;
    margin-bottom: 10px;
}

.inner-wrap {
    height: 100%;
}

.button-bar {
    min-width: 300px;
}

.button-bar .button {
    margin: 0.6rem 0px;
}

.top-bar .button {
    margin-left: 7px;
    top: 0;
}

.move-item {
    overflow: auto;
    float: right;
}

#output {
    background-color: #fff;
    margin: 0 auto;
    width: 1170px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#project-description {
    height: 80px;
    overflow: auto;
}

ul {
list-style-type:none;
}

a.success {
    color: #43ac6a;
    font-size: 32px;
}

.icon-settings:before {
    font-size: 43px
}

a.secondary {
    color: #eee;
    font-size: 32px;
}

a.secondary:hover, a.secondary:focus {
    color: #b9b9b9;
}

a.success:hover, a.success:focus {
    color: #368a54;
}

li {
    color: #FFFFFF;
}

li.item {
    cursor: pointer;
}

li.item.selected {
    padding-bottom: 10px;
    background: #5e5e5e;
    cursor: move;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
    background: none repeat scroll 0 0 #333;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: none repeat scroll 0 0 #5e5e5e;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
    background-color: #fff;
    color: #333;
}

.name {
    display: block;
    width: 100px;
}

.category-label {
    color: #b9b9b9;
    font-weight: bold;
    margin-bottom: 9px;
}

/*************************************************/
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.error{
    color: #FF2727;
}


/***************************************************/

.actions, .actions>li {
    float: right;
    list-style-type:none;
}

ul.off-canvas-list li a {
    border-bottom: 1px none #FFF;
}

.actions {
    margin-top: -27px;
}
.actions > li {
    height: 10px;
    margin-bottom: 15px;
}

button.tiny, .button.tiny {
    width: 15px;
    height: 5px;
    padding: 25px 25px 0px 0px;
}

.subway-station:hover, .subway-line:hover {
    cursor: move;
}

.subway-station > circle {
    fill: #eee;
    stroke-width: 3;
}

.subway-station.dragged > circle {
    fill: rgba(180, 0, 0, 1);
}

.subway-station > text {
    font-size : 1em;
}

.subway-station:hover > circle {
    fill: rgba(80, 80, 180, 1);
}

.subway-station.dragged:hover > circle {
    fill: rgba(180, 0, 0, 1);
}

.subway-line {
    fill: none;
    stroke-width: 8;
    z-index: 1;
}

.subway-title {
    min-height: 227px;
    border-bottom: 3px solid rgb(0,116,173);
    border-top: 3px solid rgb(0,116,173);
}

#subway-legend {
    width: 100%;
    min-height: 200px;
    padding: 0 20px;
    border-top: thick solid rgb(0,116,173);
}

#subway-legend > ul > li {
    min-width: 100px;
    margin: 10px;
}

#subway-legend > ul > li > span {
    display: block;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#subway-legend > ul > li > span > p {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    line-height: 12px;
}

#subway-legend > ul > li > ul > li {
    font-size: 15px;
}

/* Error pages */

h2.not-found, h2.not-allowed {
    text-align: center;
    margin-top: 50px;
    color: #000;
}
