/*
ItemsArtGenerator
Author: Brahim BOUKOUFALLAH
*/

html, body{
    height: 100%;
    width: 100%;
}

hr {
    margin: 20px 50px;
    background: #eee;
    color: #666666;
}

.off-canvas-wrap {
    height: 100%;
}

.off-canvas-list>li {
    text-align: center;
    margin-bottom: 10px;
}

.inner-wrap {
    height: 100%;
}

#output {
    background-image: url('/images/grid.png');
    height: 100%;
}

#projectDescription {
    height: 80px;
    overflow: auto;
}

li {
    color: #FFFFFF
}

.name {
    display: block;
    width: 100px;
}

.actions, .actions>li {
    float: right;
    list-style-type:none;
    margin-right: 10px;
}

.actions {
    margin-right: 50px;
    margin-top: -22px;
}
.actions>li {
    height: 10px;
    margin-bottom: 15px;
}

button.tiny, .button.tiny {
    width: 15px;
    height: 5px;
    padding: 25px 25px 0px 0px;
}

.subway-station {
    fill: rgba(180, 180, 180, 0.5);
    stroke: #555;
    stroke-width: 3;
}
.subway-station:hover {
    fill: rgba(80, 80, 180, 0.8);
    cursor: pointer;
}

#subway-legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding: 0;
    background: #F0F0F0;
    border-top: 2px solid #555;
}

#subway-legend > ul {
    list-style-type: none;
}

#subway-legend > ul > li {
    width: 100px;
    margin: 10px;
}

#subway-legend > ul > li > span {
    display: block;
    padding: 0 10px 5px;
}

#subway-legend > ul > li > span > p {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    line-height: 12px;
}
