<template name="projectsList">
    <div class="row">
        <h3>Projects list</h3>
        <div class="large-12 columns">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                    {{#each projects}}
                        {{> projectItem}}
                    {{/each}}
            </table>
            <a class="tiny button radius success" href="#" data-reveal-id="projectCreate">create</a>
        </div>
    </div>
    <div id="projectCreate" class="reveal-modal" data-reveal>
        {{> projectCreate}}
        <a class="close-reveal-modal">&#215;</a>
    </div>
</template>
