/*
ItemsArtGenerator
Author: Brahim BOUKOUFALLAH
*/

html{
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

hr {
    margin: 20px 50px;
    background: #eee;
    color: #666666;
}

.off-canvas-wrap {
    background-image: url('/images/grid.png');
    height: 100%;
}

.inner-wrap {
    height: 100%;
}

#projectDescription {
    height: 100px;
    overflow: auto;
}

li {
    color: #FFFFFF
}

.actions>li {
    display: inline-block;
}

