<template name="editor">
    <ul class="off-canvas-list">
        <li><label>Editor</label></li>
            <div class="row">
                <div class="small-10 columns">
                    <li>Description :</li>
                </div>
            </div>
        <li id="projectDescription">{{description}}</li>
    </ul>
    <hr />
    <ul class="off-canvas-list">
        <li>
            <div class="row">
                <div class="small-4 columns">
                    Categories
                </div>
                <div class="small-8 columns">
                    <a class="tiny button radius success createItemCategory" href="{{pathFor 'itemCategoryCreate'}}"></a>
                </div>
            </div>
        </li>
        {{> itemCategoriesList}}
    </ul>
    <hr />
    <ul class="off-canvas-list">
        <li>
            <div class="row">
                <div class="small-4 columns">
                    Items
                </div>
                <div class="small-8 columns">
                    <a class="tiny button radius success createItem" href="{{pathFor 'itemCreate'}}"></a>
                </div>
            </div>
        </li>
        {{> itemsList}}
    </ul>

    <div id="modalEditor" class="reveal-modal" data-reveal>
        <div class="content"></div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</template>
