<template name="itemsList">
    <a class="success create-item icon-plus" href="{{pathFor 'itemCreate'}}"></a>
    <dl class="accordion" data-accordion="">
        {{#each lines}}
                <dd>
                    <a href="#panel-{{_id}}">{{name}}</a>
                    <div id="panel-{{_id}}" class="content">

                        <ul id="category-{{_id}}" class="stations off-canvas-list">
                            {{#each sortByPosition this}}
                                <li class="item">
                                    <div class="name">
                                        {{name}}
                                    </div>
                                    <ul class="actions">
                                        <li><a class="icon-trash alert delete"></a></li>
                                        <li><a class="icon-pencil edit-item" href="{{pathFor 'itemEdit'}}"></a></li>
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </dd>
        {{/each}}
    </dl>
</template>
