<template name="itemsList">
    {{#each lines}}
        <a class="success create-item ion-plus" href="{{pathFor 'itemCreate'}}"></a>
        <div class="move-item">
            <a class="secondary ion-chevron-up dec"></a>
            <a class="secondary ion-chevron-down inc"></a>
        </div>
        <label>{{name}}</label>
        <ul id="category-{{_id}}" class="off-canvas-list">
            {{#each sortByPosition this}}
                    <li class="item {{selected ../_id}}">
                        <div class="name">
                            {{name}}
                        </div>
                        <ul class="actions">
                            <li><a href="#" class="tiny button alert delete"></a></li>
                            <li><a class="tiny button secondary edit-item" href="{{pathFor 'itemEdit'}}"></a></li>
                        </ul>
                    </li>
            {{/each}}
        </ul>
    {{/each}}
</template>
