<template name="itemsList">
        <a class="success create-item icon-plus" href="{{pathFor 'itemCreate'}}"></a>
        <div class="move-item">
            <a class="secondary icon-arrow-up dec"></a>
            <a class="secondary icon-arrow-down inc"></a>
        </div>
        {{#each lines}}
            <dl class="accordion" data-accordion="">
                    <dd>
                        <a href="#stations-{{_id}}">{{name}}</a>
                        <div id="stations-{{_id}}" class="content">
                            <ul id="category-{{_id}}" class="off-canvas-list">
                                {{#each sortByPosition this}}
                                        <li class="item {{selected ../_id}}">
                                            <div class="name">
                                                {{name}}
                                            </div>
                                            <ul class="actions">
                                                <li><a class="icon-trash alert delete"></a></li>
                                                <li><a class="icon-pencil edit-item" href="{{pathFor 'itemEdit'}}"></a></li>
                                            </ul>
                                        </li>
                                {{/each}}
                            </ul>
                        </div>
                    </dd>
            </dl>
        {{/each}}
</template>
