<template name="itemCreate">
    <form class="main">
        <div class="row">
            <div class="large-12 columns">
                <label for="name">Name</label>
                <input name="name" type="text" value="" maxlength="20" placeholder="Name your item"/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="description">Description</label>
                <textarea name="description" rows="2"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns categories">
                <label>Choose Categories</label>
                {{#each categories}}
                    {{name}}<input type="checkbox" class="categories" name="categories[]" value="{{_id}}" />
                {{/each}}
            </div>
            <p class="error"></p>
        </div>

        {{#if isAdmin}}
            <div class="row">
                <div class="large-12 columns">
                    {{displayFormOptions this 'item'}}
                </div>
            </div>
        {{/if}}

        <div class="row">
            <div class="large-12 columns">
                <input type="hidden" name="projectId" value="{{projectId}}" />
                <input type="submit" value="Submit" class="button small radius" />
            </div>
        </div>
    </form>
</template>
