<template name="output">
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <div id="output" style="background: no-repeat {{url}};">
                {{> outputSubway}}
            </div>

            <aside class="left-off-canvas-menu">
                <a class="secondary button small round" href="{{pathFor 'projects'}}">Home</a>
            </aside>

            <aside class="right-off-canvas-menu">
                {{> editor}}
            </aside>

            <a class="exit-off-canvas"></a>
        </div>
    </div>
</template>
