<template name="userCreate">
    <form class="main">
        <div class="row">
            <div class="large-12 columns">
                <label for="email">Email</label>
                <input name="email" type="text" value="" placeholder="Email"/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="token">Token</label>
                <input name="token" type="text" value="" placeholder="Token"/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </div>
    </form>
</template>
