<template name="projectCreate">
    <form class="main">
        <div class="row">
            <div class="large-12 columns">
                <label for="name">Name</label>
                <input name="name" type="text" value="" placeholder="Name your project"/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
            <label for="description">Description</label>
                <textarea name="description" type="text" value=""></textarea>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="visibility">Visibility</label>
                <select name="visibility">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="tags">Tags</label>
                <input type="text" name="tags" value="" placeholder="Tags" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="state">State</label>
                <select name="state">
                    <option value="new">New</option>
                    <option value="blocked">Blocked</option>
                    <option value="published">Published</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="model">Model</label>
                <select name="model">
                    <option value="">No Model</option>
                    {{#each models}}
                        <option value="{{_id}}">{{description}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </div>
    </form>
</template>
