<template name="projectItem">
    <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>
            <div class="button-bar">
                <ul class="button-group round">
                    <li><a class="small button secondary editProject" href="{{pathFor 'projectEdit'}}">edit</a></li>
                    <li><a class="small button alert delete">remove</a></li>
                    <li><a class="small button" href="{{pathFor 'projectShow'}}">show</a></li>
                </ul>
            </div>
        </td>
    </tr>
</template>
