<template name="projectRaw">
    <div class="raw">
        <svg>
            <defs></defs>
            <text x="700" y="50" text-anchor="middle" font-size="50px">{{name}}</text>
            <g class="subway-background"></g>
            <g id="subway-lines"></g>
            <g id="subway-stations"></g>
        </svg>
        {{> subwayBackground}}

        <div id="subway-legend">
            <ul>
            </ul>
        </div>

        {{#each lines}}
            {{> line}}
        {{/each}}
    </div>
</template>
