<template name="projectsList">
    <div class="row">
        <h3>Projects list</h3>
        <div class="large-12 columns">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                {{#each projects}}
                    {{> projectItem}}
                {{/each}}
            </table>
            <a class="small button radius success createProject" href="{{pathFor 'projectCreate' user_id=this._id}}" data-reveal-id="projectCreate">create</a>
            {{#if isAdmin}}
                <a class="small button radius success createModel" href="{{pathFor 'projectCreateModel' user_id=this._id}}" data-reveal-id="projectCreateModel">create model</a>
            {{/if}}
        </div>
    </div>
    <div id="modalEditor" class="reveal-modal" data-reveal>
        <div class="content"></div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</template>
