<template name="projectItem">
    <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>
            <div class="button-bar">
                <ul class="button-group round">
                    {{#if isAuthor}}
                        {{#if isModel}}
                            <li><a class="small button secondary editModel" href="{{pathFor 'projectEditModel'}}">edit</a></li>
                        {{else}}
                            <li><a class="small button secondary editProject" href="{{pathFor 'projectEdit'}}">edit</a></li>
                        {{/if}}
                        <li><a class="small button alert delete">remove</a></li>
                    {{/if}}
                    <li><a class="small button" href="{{pathFor 'projectShow'}}">show</a></li>
                </ul>
            </div>
        </td>
    </tr>
</template>
