<template name="projectCreateModel">
    <form class="main">
        <div class="row">
            <div class="large-12 columns">
                <label for="name">Name</label>
                <input name="name" type="text" value="" placeholder="Name your project"/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
            <label for="description">Description</label>
                <textarea name="description" type="text" value=""></textarea>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="type">Type</label>
                <select name="type">
                    <option value="subway">Subway</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="tags">Tags</label>
                <input type="text" name="tags" value="" placeholder="Tags" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label for="background">Background</label>
                <input type="text" name="background" value="" placeholder="Background" />
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="submit" value="Submit" class="button"/>
            </div>
        </div>
    </form>
</template>
